@model HTTP5112_Cumulative_3.Models.Class
@{
    ViewBag.Title = "Show";
}

<div>
    <a class="navlink" href="/Home">Back To Home</a>
    |
    <a class="navlink" href="/Class/List?semester=9&semester=1">Back To Classes</a>
</div>

<div class="text-center">
    <h1 class="display-4">Classes Page</h1>
</div>

<div id="containershow">
    <h2>@Model.ClassCode</h2>
    <p>Class Name: @Model.ClassName</p>
    <p>Start Date: @Model.StartDate</p>
    <p>Finish Date: @Model.FinishDate</p>
    <p>
        Teacher:
        @if (Model.TeacherId != null)
        {
            <a href="/Teacher/Show/@Model.ClassTeacher.TeacherId">@Model.ClassTeacher.TeacherFname @Model.ClassTeacher.TeacherLname</a>
        }
    </p>
</div>